{{#desktopShortcuts}}
    <DirectoryRef Id="DesktopFolder">
        <Component Id="{{componentId}}" Guid="{{componentUUID}}">
            {{#isBatch}}
                <Shortcut Id="{{shortcutId}}"
                          Name="{{productName}}"
                          WorkingDirectory="{{refDirectoryId}}"
                          Icon="icon.ico"
                          IconIndex="0"
                          Target="[SystemFolder]cmd.exe"
                          Arguments=" /k &quot;[{{refDirectoryId}}]{{refFileName}}&quot;"/>
            {{/isBatch}}
            {{^isBatch}}
                <Shortcut Id="{{shortcutId}}"
                          Name="{{productName}}"
                          WorkingDirectory="{{refDirectoryId}}"
                          Icon="icon.ico"
                          IconIndex="0"
                          Target="[{{refDirectoryId}}]{{refFileName}}"/>
            {{/isBatch}}
            <RegistryValue Root="HKCU" Key="Software\{{manufacturer}}\{{productName}}" Name="{{shortcutId}}" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </DirectoryRef>
{{/desktopShortcuts}}